Repository glitch003/vincent-delegated-trade-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,cjs,js,json,md}": ["prettier --write"],
  "packages/morphomax-frontend/**/*.{ts,tsx,cjs,js}": [
    "pnpm --filter morphomax-frontend -- lint --fix"
  ],
  "packages/morphomax-backend/**/*.{ts,tsx,cjs,js}": ["pnpm --filter morphomax-backend lint --fix"]
}

fix: remove placeholder get swaps request
  packages/morphomax-frontend/src/components/dialogue-schedule-execution-details.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: return 200 and empty array on no swaps found
  packages/morphomax-backend/src/lib/express/swaps.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: update vaults to optimize filter
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: update deps
  packages/morphomax-backend/package.json
  packages/morphomax-frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: redeems type
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: add prechecks and remove base rpc url
  packages/morphomax-backend/.env.example
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/chain.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/deposit-morpho-vault.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
  packages/morphomax-backend/src/lib/env.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: restore base rpc url as env variable but optional
  packages/morphomax-backend/.env.example
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/chain.ts
  packages/morphomax-backend/src/lib/env.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: show top strategy info in FE
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/express/index.ts
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-backend/src/lib/express/strategies.ts
  packages/morphomax-backend/src/lib/jobWorker.ts
  packages/morphomax-backend/src/lib/jobs/index.ts
  packages/morphomax-backend/src/lib/jobs/morphoMaxJobManager.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/index.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/morphoLoader.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/alchemy.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/chain.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/deposit-morpho-vault.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-addresses-by-chain-id.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-erc20-info.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-morpho-positions.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-morpho-vaults.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/index.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/wait-for-transaction.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/vincentAbilities.ts
  packages/morphomax-frontend/src/components/dashboard.tsx
  packages/morphomax-frontend/src/components/footer.tsx
  packages/morphomax-frontend/src/components/optimal-strategy-info.tsx
  packages/morphomax-frontend/src/components/presentation.tsx
  packages/morphomax-frontend/src/hooks/useBackend.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

fix: add somehow missing dependency on lit contracts
  packages/morphomax-backend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: erc20 approval ability precheck result validation
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/deposit-morpho-vault.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: use 7702 on all abilities and add erc20 transfer on job deletion
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/jobs/morphoMaxJobManager.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/deposit-morpho-vault.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/transfer-erc20-tokens.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/vincentAbilities.ts
  packages/morphomax-backend/src/lib/mongo/models/MorphoSwap.ts
  packages/morphomax-frontend/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: add back contracts dependency
  packages/morphomax-backend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add accs schemas dependency
  packages/morphomax-backend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: reedem method conventions
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: call to depositMorphoVault
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: remove mint rli script
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/bin/mintRLINft.ts
  packages/morphomax-backend/src/mintRLINft.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: remove unused deps and fix js sdk ones
  packages/morphomax-backend/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: save pkp info in job data instead of just eth address, wait for user ops, use provider config for chain data
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-backend/src/lib/express/schema.ts
  packages/morphomax-backend/src/lib/express/strategies.ts
  packages/morphomax-backend/src/lib/jobs/morphoMaxJobManager.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/chain.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/deposit-morpho-vault.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-erc20-info.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-morpho-positions.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/index.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/wait-for-transaction.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/wait-for-user-operation.ts
  packages/morphomax-backend/src/lib/mongo/models/MorphoSwap.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: update dependencies
  packages/morphomax-backend/package.json
  packages/morphomax-frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: schedules resolvers now using pkpInfo
  packages/morphomax-backend/src/lib/jobs/morphoMaxJobManager.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: add minimum tvl filter to fetch top morpho vault
  packages/morphomax-backend/src/lib/env.ts
  packages/morphomax-backend/src/lib/graphql/apollo.ts
  packages/morphomax-backend/src/lib/graphql/generated.ts
  packages/morphomax-backend/src/lib/graphql/getVaults.query.gql
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: unify getting the top morpho vault
  packages/morphomax-backend/src/lib/express/strategies.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-morpho-vaults.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/index.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/transfer-erc20-tokens.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: add dashboard url as a cors allowed domain
  packages/morphomax-backend/.env.example
  packages/morphomax-backend/src/lib/env.ts
  packages/morphomax-backend/src/lib/express/index.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: ignore linting generated graphql files or dist
  packages/morphomax-backend/.eslintrc.cjs
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: remove erc20 and debridge abilities, also reduce endpoints to create and delete but just pausing the schedule to allow withdrawals using the dashboard
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/express/index.ts
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-backend/src/lib/graphql/generated.ts
  packages/morphomax-backend/src/lib/jobs/morphoMaxJobManager.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/vincentAbilities.ts
  packages/morphomax-backend/src/lib/mongo/models/MorphoSwap.ts
  packages/morphomax-frontend/src/components/dialogue-withdraw.tsx
  packages/morphomax-frontend/src/hooks/useBackend.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

fix: do not depend on scheduleId for job creation and deletion
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-backend/src/lib/jobs/morphoMaxJobManager.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: read wallet address on job creation
  packages/morphomax-backend/src/lib/jobs/morphoMaxJobManager.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: add sentry to FE and BE
  .gitignore
  packages/morphomax-backend/.eslintrc.cjs
  packages/morphomax-backend/build.config.ts
  packages/morphomax-backend/esbuild.mjs
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/bin/serverWorker.ts
  packages/morphomax-backend/src/lib/apiServer.ts
  packages/morphomax-backend/src/lib/graphql/generated.ts
  packages/morphomax-backend/src/lib/graphql/schema.graphql
  packages/morphomax-backend/src/lib/sentry.ts
  packages/morphomax-backend/tsconfig.json
  packages/morphomax-frontend/package.json
  packages/morphomax-frontend/src/main.tsx
  packages/morphomax-frontend/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

fix: add total assets minimum filter missing type
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-morpho-vaults.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: add cache on getting top vaults
  packages/morphomax-backend/.eslintrc.cjs
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/cache.ts
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/utils/get-morpho-vaults.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: schedule stopping, copies and add reference to debridge with our referral code
  package.json
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-backend/src/lib/jobs/morphoMaxJobManager.ts
  packages/morphomax-frontend/src/components/dashboard.tsx
  packages/morphomax-frontend/src/components/dialogue-stop.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

feat: use cache when linting backend
  .gitignore
  packages/morphomax-backend/package.json
Due: prettier --write

feat: allow specifying expected audience on FE to ease local testing
  packages/morphomax-frontend/.env.example
  packages/morphomax-frontend/src/config.ts
  packages/morphomax-frontend/src/contexts/jwt.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: add logout button
  packages/morphomax-frontend/src/components/dashboard.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

fix: remove unsupported tsconfig option breaking vercel
  packages/morphomax-frontend/tsconfig.json
Due: prettier --write

feat: update graphql generated spec
  packages/morphomax-backend/src/lib/graphql/generated.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: restore previous typescript version
  package.json
  packages/morphomax-frontend/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

fix: expected audience from env
  packages/morphomax-frontend/src/config.ts
  packages/morphomax-frontend/src/contexts/jwt.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: unify using net apy instead of native or avg apy
  packages/morphomax-frontend/src/components/optimal-strategy-info.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: unify using net apy instead of native or avg apy backend
  packages/morphomax-backend/src/lib/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix
