Repository glitch003/vincent-delegated-trade-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

fix: remove reference to airdrop post without link
  packages/morphomax-frontend/src/components/enforcement-disclaimer.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: add optimal strategy to agent stoped dashboard
  packages/morphomax-frontend/src/components/dashboard.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: update copy
  packages/morphomax-frontend/src/components/enforcement-disclaimer.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: add qr code for deposits and some other styling changes
  packages/morphomax-frontend/package.json
  packages/morphomax-frontend/src/components/dashboard.tsx
  packages/morphomax-frontend/src/components/dialogue-schedule-execution-details.tsx
  packages/morphomax-frontend/src/components/optimal-strategy-info.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: deactivate sentry in development mode
  packages/morphomax-backend/src/lib/sentry.ts
  packages/morphomax-frontend/.env.example
  packages/morphomax-frontend/package.json
  packages/morphomax-frontend/src/config.ts
  packages/morphomax-frontend/src/config/env.ts
  packages/morphomax-frontend/src/contexts/jwt.tsx
  packages/morphomax-frontend/src/hooks/useBackend.ts
  packages/morphomax-frontend/src/hooks/useVincentWebAuthClient.ts
  packages/morphomax-frontend/src/main.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

feat: configure sentry dsn from an env var
  packages/morphomax-backend/.env.example
  packages/morphomax-backend/src/lib/env.ts
  packages/morphomax-backend/src/lib/sentry.ts
  packages/morphomax-frontend/.env.example
  packages/morphomax-frontend/src/config/env.ts
  packages/morphomax-frontend/src/main.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

UI Updates (#2)
  packages/morphomax-frontend/.env.example
  packages/morphomax-frontend/index.html
  packages/morphomax-frontend/public/external-logos/base-logo.svg
  packages/morphomax-frontend/public/external-logos/usdc-coin-logo.svg
  packages/morphomax-frontend/public/vincent-logos/logo-white.svg
  packages/morphomax-frontend/public/vincent-logos/logo.svg
  packages/morphomax-frontend/public/vincent-logos/orange-v-logo.svg
  packages/morphomax-frontend/src/App.tsx
  packages/morphomax-frontend/src/components/ApyDropdown.tsx
  packages/morphomax-frontend/src/components/WalletModal.tsx
  packages/morphomax-frontend/src/components/dashboard.tsx
  packages/morphomax-frontend/src/components/enforcement-disclaimer.tsx
  packages/morphomax-frontend/src/components/optimal-strategy-info.tsx
  packages/morphomax-frontend/src/components/presentation.tsx
  packages/morphomax-frontend/src/components/shared/Background.tsx
  packages/morphomax-frontend/src/components/shared/Footer.tsx
  packages/morphomax-frontend/src/components/shared/Header.tsx
  packages/morphomax-frontend/src/components/shared/useTheme.tsx
  packages/morphomax-frontend/src/components/theme.ts
  packages/morphomax-frontend/src/config/env.ts
  packages/morphomax-frontend/src/hooks/useFetchUsdcBalance.ts
  packages/morphomax-frontend/src/main.tsx
  packages/morphomax-frontend/src/pages/home.tsx
  packages/morphomax-frontend/src/pages/login.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

fork morphomax and change name
  README.md
  package.json
Due: prettier --write

move railway.json
  packages/morphomax-frontend/railway.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,cjs,js,json,md}
  pnpm --filter morphomax-frontend -- lint --fix: any of: packages/morphomax-frontend/**/*.{ts,tsx,cjs,js}
  pnpm --filter morphomax-backend lint --fix: any of: packages/morphomax-backend/**/*.{ts,tsx,cjs,js}
