Repository LIT-Protocol/morphomax: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter yield-frontend -- lint --fix, pnpm --filter yield-backend lint --fix

chore(frontend): fix FE build from merge
  packages/yield-frontend/src/components/ui/button.tsx
  packages/yield-frontend/src/stories/button.stories.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore(frontend): cleanup description text colors, add story for WalletModal
  packages/yield-frontend/src/components/WalletModal.stories.tsx
  packages/yield-frontend/src/components/WalletModal.tsx
  packages/yield-frontend/src/components/theme.ts
  packages/yield-frontend/src/components/ui/page-header.tsx
  packages/yield-frontend/src/stories/button.stories.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore(frontend): minor page header update
  packages/yield-frontend/src/components/ui/page-header.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: use token accessors
  packages/yield-backend/src/lib/express/index.ts
  packages/yield-backend/src/lib/express/schedules.ts
  packages/yield-backend/src/lib/express/swaps.ts
Due: prettier --write

feat: replace morpho api call to get user vault positions with a chain balance monitor to have real time coherent balance calculations
  packages/yield-backend/src/lib/agenda/agendaClient.ts
  packages/yield-backend/src/lib/apiServer.ts
  packages/yield-backend/src/lib/balanceMonitor.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/morphoLoader.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/optimizeYield.manual.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/optimizeYield.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/utils/get-morpho-vaults.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/utils/get-user-positions.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/utils/index.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/utils/redeem-vaults.ts
  packages/yield-backend/src/lib/jobs/yieldJobManager.ts
  packages/yield-backend/src/lib/mongo/models/YieldSwap.ts
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/components/ui/funds-deployed.tsx
  packages/yield-frontend/src/hooks/useBackend.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: force https start to allow vercel stg domain in cors
  packages/yield-backend/src/lib/express/index.ts
Due: prettier --write

feat: increase and make tx confirmations configurable with an env variable
  packages/yield-backend/.env.example
  packages/yield-backend/src/lib/env.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/utils/handle-operation-execution.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/utils/wait-for-transaction.ts
Due: prettier --write

feat: use isolated sentry scope for each job run to avoid race conditions when running concurrently
  packages/yield-backend/src/lib/jobWorker.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/optimizeYield.ts
Due: prettier --write

feat: use isolated scope also inside job
  packages/yield-backend/src/lib/jobWorker.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/optimizeYield.manual.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/optimizeYield.ts
Due: prettier --write

fix: replace base usdc constant with deposit asset internal value in balance monitor
  packages/yield-backend/src/lib/balanceMonitor.ts
Due: prettier --write

feat: remove unused Footer component
  packages/yield-frontend/src/components/shared/Footer.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: change help for support to avoid upcoming confusion with zendesk widget
  packages/yield-frontend/src/components/ui/footer.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: add zendesk widget
  packages/yield-frontend/src/lib/zendesk.ts
  packages/yield-frontend/src/main.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: drop sentry events containing third party frames
  packages/yield-frontend/src/main.tsx
  packages/yield-frontend/vite.config.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: jwt accessor mapping to vy model
  packages/yield-backend/src/lib/express/schedules.ts
Due: prettier --write

fix: headers sent on unauthorized requests
  packages/yield-backend/src/lib/express/index.ts
  packages/yield-frontend/src/hooks/useBackend.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: add sentry tracing for FE
  packages/yield-frontend/src/main.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix(frontend): update VY Zendesk color to the right orange
  packages/yield-frontend/src/lib/zendesk.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix(frontend): add deposit button with deployed agent
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/components/ui/balance.tsx
  packages/yield-frontend/src/components/ui/funds-deployed.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: resync balance when agent starts or stops
  packages/yield-frontend/src/components/dashboard.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: Add FAQ
  packages/yield-frontend/src/components/presentation.tsx
  packages/yield-frontend/src/components/ui/faq.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: Show FAQ after login + minor changes
  packages/yield-frontend/src/components/ApyDropdown.tsx
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/components/presentation.tsx
  packages/yield-frontend/src/components/ui/faq.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: remove URI from frontend
  packages/yield-frontend/.env.example
Due: none

feat: added metrics endpoint
  packages/yield-backend/src/lib/express/index.ts
  packages/yield-backend/src/lib/express/metrics.ts
  packages/yield-backend/src/lib/graphql/generated.ts
  packages/yield-frontend/package.json
  packages/yield-frontend/src/App.tsx
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/pages/metrics.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: page is accessible but blank
  packages/yield-backend/src/lib/express/index.ts
  packages/yield-backend/src/lib/express/metrics.ts
  packages/yield-backend/src/lib/graphql/generated.ts
  packages/yield-frontend/src/App.tsx
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: dashboard works
  .playwright-mcp/before-metrics.png
  .playwright-mcp/metrics-dashboard.png
  .playwright-mcp/metrics-fixed.png
  .playwright-mcp/metrics-page.png
  .playwright-mcp/metrics-scrolled.png
  packages/yield-backend/src/lib/express/metrics.ts
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: basescan link
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: remove playwright screenshots
  .gitignore
  .playwright-mcp/before-metrics.png
  .playwright-mcp/metrics-dashboard.png
  .playwright-mcp/metrics-fixed.png
  .playwright-mcp/metrics-page.png
  .playwright-mcp/metrics-scrolled.png
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: remove metrics link
  packages/yield-frontend/src/components/dashboard.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: typescript types
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: add pagination
  packages/yield-backend/src/lib/express/metrics.ts
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: don't auto reload
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: make pkpinfo and ethAddress not optional
  packages/yield-backend/src/lib/express/metrics.ts
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: optimize queries
  packages/yield-backend/src/lib/express/metrics.ts
Due: prettier --write

fix: some make some optional things non-optional
  packages/yield-backend/src/lib/express/metrics.ts
Due: prettier --write

feat: add token balances
  packages/yield-backend/src/lib/express/metrics.ts
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: copilot fixes
  packages/yield-backend/src/lib/express/metrics.ts
Due: prettier --write

feat: makes FE fetch the schedule balance from the BE instead of just USDC from base. Also exports a similar endpoint for galxe quest, refactors express error handler
  packages/yield-backend/src/lib/express/index.ts
  packages/yield-backend/src/lib/express/schedules.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/optimizeYield.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/utils/get-erc20-info.ts
  packages/yield-backend/src/lib/jobs/yieldJobManager.ts
  packages/yield-frontend/.env.example
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/config/env.ts
  packages/yield-frontend/src/hooks/useBackend.ts
  packages/yield-frontend/src/hooks/useChain.ts
  packages/yield-frontend/src/hooks/useFetchUsdcBalance.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: add helmet to secure express
  packages/yield-backend/package.json
  packages/yield-backend/src/lib/express/index.ts
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,cjs,js,json,md}
  pnpm --filter yield-frontend -- lint --fix: any of: packages/yield-frontend/**/*.{ts,tsx,cjs,js}
  pnpm --filter yield-backend lint --fix: any of: packages/morphomax-backend/**/*.{ts,tsx,cjs,js}
