Repository LIT-Protocol/morphomax: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter yield-frontend -- lint --fix, pnpm --filter yield-backend lint --fix

Update packages/yield-backend/src/lib/express/metrics.ts
  packages/yield-backend/src/lib/express/metrics.ts
Due: prettier --write

feat: add galxe api key
  packages/yield-backend/.env.example
  packages/yield-backend/src/lib/env.ts
  packages/yield-backend/src/lib/express/index.ts
Due: prettier --write

Update faq.tsx
  packages/yield-frontend/src/components/ui/faq.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: add vercel routing rules
  packages/yield-frontend/vercel.json
Due: prettier --write

chore(yield-frontend): update the FAQ to support the new dashboard WalletConnect
  packages/yield-frontend/public/faq/faq-withdraw-1.png
  packages/yield-frontend/src/components/ui/faq.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore(yield-frontend): add spacing
  packages/yield-frontend/src/components/ui/faq.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: sentry logging everywhere
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/components/dialogue-schedule-execution-details.tsx
  packages/yield-frontend/src/components/dialogue-stop.tsx
  packages/yield-frontend/src/contexts/jwt.tsx
  packages/yield-frontend/src/hooks/useBackend.ts
  packages/yield-frontend/src/hooks/useFetchUsdcBalance.ts
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix: remove unused env variable
  packages/yield-backend/.env.example
Due: none

fix: remove script from npm run configs with a removed script
  package.json
Due: prettier --write

fix: correctly fix ethers and zod libraries used in FE
  packages/yield-frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: use env variables to control agenda concurrency
  packages/yield-backend/src/lib/agenda/agendaClient.ts
  packages/yield-backend/src/lib/env.ts
Due: prettier --write

feat: improve error reporting to sentry
  packages/yield-backend/src/lib/express/metrics.ts
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/components/dialogue-schedule-execution-details.tsx
  packages/yield-frontend/src/components/dialogue-stop.tsx
  packages/yield-frontend/src/contexts/jwt.tsx
  packages/yield-frontend/src/hooks/useFetchUsdcBalance.ts
  packages/yield-frontend/src/pages/metrics.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore(dashboard): add dashboard button to header
  packages/yield-frontend/src/components/ui/header.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: some more refactors for consistency
  packages/yield-backend/src/lib/jobWorker.ts
  packages/yield-backend/src/lib/jobs/jobVersion.ts
  packages/yield-backend/src/lib/jobs/optimizeYield/optimizeYield.ts
  packages/yield-backend/src/lib/jobs/yieldJobManager.ts
Due: prettier --write

fix: check job is running only on already existing jobs, not ones just created
  packages/yield-backend/src/lib/jobs/yieldJobManager.ts
Due: prettier --write

chore(frontend + backend): add email entry support
  packages/yield-backend/src/lib/express/emails.ts
  packages/yield-backend/src/lib/express/index.ts
  packages/yield-backend/src/lib/mongo/models/PkpEmail.ts
  packages/yield-frontend/src/components/EmailForm.tsx
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/hooks/useBackend.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore(frontend): list static total deposits
  packages/yield-frontend/src/components/dashboard.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore(dashboard): component + env for easy total deposits support
  packages/yield-frontend/.env.example
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/components/presentation.tsx
  packages/yield-frontend/src/components/ui/total-deposits.tsx
  packages/yield-frontend/src/config/env.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix(dashboard): light mode support for new additions
  packages/yield-frontend/src/components/EmailForm.tsx
  packages/yield-frontend/src/components/ui/total-deposits.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix(frontend): fix email input font
  packages/yield-frontend/src/components/EmailForm.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore(frontend + backend): add stay connected session, referral source
  packages/yield-backend/src/lib/express/index.ts
  packages/yield-backend/src/lib/express/referralSources.ts
  packages/yield-backend/src/lib/mongo/models/PkpEmail.ts
  packages/yield-backend/src/lib/mongo/models/PkpUser.ts
  packages/yield-frontend/src/components/EmailForm.tsx
  packages/yield-frontend/src/components/ReferralSourceForm.tsx
  packages/yield-frontend/src/components/dashboard.tsx
  packages/yield-frontend/src/components/ui/faq.tsx
  packages/yield-frontend/src/components/ui/input.tsx
  packages/yield-frontend/src/hooks/useBackend.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore(dashboard): fix PR comments
  packages/yield-backend/src/lib/express/emails.ts
  packages/yield-backend/src/lib/express/index.ts
  packages/yield-backend/src/lib/express/profile.ts
  packages/yield-backend/src/lib/express/referralSources.ts
  packages/yield-frontend/src/components/EmailForm.tsx
  packages/yield-frontend/src/components/ReferralSourceForm.tsx
  packages/yield-frontend/src/hooks/useBackend.ts
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

fix(frontend): switch itc avant garde to poppins opensource font
  packages/yield-frontend/public/fonts/encode-sans-semi-expanded/style.css
  packages/yield-frontend/public/fonts/itc-avant-garde/medium/ITCAvantGardeStd-Md.ttf
  packages/yield-frontend/public/fonts/itc-avant-garde/medium/style.css
  packages/yield-frontend/public/fonts/poppins/Poppins-Medium.ttf
  packages/yield-frontend/public/fonts/poppins/style.css
  packages/yield-frontend/src/components/ApyDropdown.tsx
  packages/yield-frontend/src/components/WalletModal.tsx
  packages/yield-frontend/src/components/ui/background.stories.tsx
  packages/yield-frontend/src/components/ui/button.stories.tsx
  packages/yield-frontend/src/components/ui/button.tsx
  packages/yield-frontend/src/components/ui/footer.tsx
  packages/yield-frontend/src/components/ui/funds-deployed.tsx
  packages/yield-frontend/src/components/ui/header.tsx
  packages/yield-frontend/src/components/ui/page-header.stories.tsx
  packages/yield-frontend/src/components/ui/page-header.tsx
  packages/yield-frontend/src/index.css
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore: Update job interval so that optimize jobs run daily instead of weekly
  packages/yield-backend/src/lib/express/schedules.ts
Due: prettier --write

chore: Add `changeJobsInterval` binary to easy modification of existing job run intervals
  packages/yield-backend/build.config.ts
  packages/yield-backend/package.json
  packages/yield-backend/src/bin/changeJobsInterval.ts
  pnpm-lock.yaml
Due: prettier --write

chore: use `skipImmediate` to keep jobs staggered by original creation times
  packages/yield-backend/src/bin/changeJobsInterval.ts
Due: prettier --write

chore: Print # of enabled when done
  packages/yield-backend/src/bin/changeJobsInterval.ts
Due: prettier --write

fix: daily to 1 day
  packages/yield-backend/src/bin/changeJobsInterval.ts
  packages/yield-backend/src/lib/express/schedules.ts
Due: prettier --write

feat: add terms of service link
  packages/yield-frontend/public/terms.html
  packages/yield-frontend/src/components/ui/footer.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: define new job intervals with an env variable
  packages/yield-backend/.env.example
  packages/yield-backend/src/bin/changeJobsInterval.ts
  packages/yield-backend/src/lib/agenda/frequencies.ts
  packages/yield-backend/src/lib/env.ts
  packages/yield-backend/src/lib/express/schedules.ts
Due: prettier --write

feat: remove lit protocol apy bonus
  packages/yield-frontend/src/components/ApyDropdown.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: add lit rewards FAQ
  packages/yield-frontend/src/components/ui/faq.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

feat: Update FAQ with rewards snapshot and calculation
  packages/yield-frontend/src/components/ui/faq.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

chore: update withdraw faq
  packages/yield-frontend/src/components/ui/faq.tsx
Due: prettier --write, pnpm --filter yield-frontend -- lint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,cjs,js,json,md}
  pnpm --filter yield-frontend -- lint --fix: any of: packages/yield-frontend/**/*.{ts,tsx,cjs,js}
  pnpm --filter yield-backend lint --fix: any of: packages/morphomax-backend/**/*.{ts,tsx,cjs,js}
