Repository glitch003/vincent-delegated-trade-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

feat: migrate to vincent-app-sdk, both FE and BE
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/agenda/jobs/executeDCASwap/executeDCASwap.ts
  packages/morphomax-backend/src/lib/agenda/jobs/executeDCASwap/utils/get-addresses-by-chain-id.ts
  packages/morphomax-backend/src/lib/agenda/jobs/executeDCASwap/utils/get-erc20-info.ts
  packages/morphomax-backend/src/lib/agenda/jobs/executeDCASwap/utils/get-uniswap-quote.ts
  packages/morphomax-backend/src/lib/agenda/jobs/executeDCASwap/utils/send-erc20-approval.ts
  packages/morphomax-backend/src/lib/agenda/jobs/executeDCASwap/utils/send-uniswap-tx.ts
  packages/morphomax-backend/src/lib/agenda/jobs/executeDCASwap/vincentTools.ts
  packages/morphomax-backend/src/lib/express/index.ts
  packages/morphomax-backend/src/lib/express/purchases.ts
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-backend/src/lib/ipfsCidsIndexByAppVersion.ts
  packages/morphomax-frontend/index.html
  packages/morphomax-frontend/package.json
  packages/morphomax-frontend/src/components/presentation.tsx
  packages/morphomax-frontend/src/contexts/jwt.tsx
  packages/morphomax-frontend/src/hooks/useVincentWebAppClient.ts
  packages/morphomax-frontend/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

feat: make getAddressesByChainId type safe as we will only use it to get usdc address for now
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/get-addresses-by-chain-id.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: update morpho tool version
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/vincentTools.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: export disconnectVincentToolClients from vincentTools
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/vincentTools.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: increase finality wait for txs
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: log result of things done in morphomax job and clean env variables
  packages/morphomax-backend/.env.example
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/env.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: morpho graphql blue api cleaning
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/graphql/generated.ts
  packages/morphomax-backend/src/lib/graphql/getUserPositions.query.gql
  packages/morphomax-backend/src/lib/graphql/getVaults.query.gql
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: remove vincentAppVersion, it is now fixed due to pkg imports
  packages/morphomax-backend/src/lib/agenda/jobs/morphoMaxJobManager.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-frontend/src/hooks/useBackend.ts
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

fix: approval tool validation
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: add guard to deposit anyway when not able to check user positions
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: getTopYieldingVault signature
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: wrap shares usage as now it is optional
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: adding missed graphql files
  packages/morphomax-backend/src/lib/graphql/generated.ts
  packages/morphomax-backend/src/lib/graphql/schema.graphql
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: save morpho job result record
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/express/purchases.ts
  packages/morphomax-backend/src/lib/mongo/models/MorphoSwap.ts
  packages/morphomax-backend/src/lib/mongo/models/PurchasedCoin.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: remove unused env vars
  packages/morphomax-frontend/.env.example
Due: none

feat: add heroku postbuild script
  package.json
Due: prettier --write

feat: move install and build to procfile
  Procfile
  package.json
Due: prettier --write

fix: revert to previous config
  Procfile
  package.json
Due: prettier --write

feat: use morpho tool from vincent repo
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/vincentTools.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: update to branched vincent app sdk
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/vincentTools.ts
  packages/morphomax-backend/src/lib/env.ts
  packages/morphomax-backend/src/lib/express/index.ts
  packages/morphomax-backend/src/lib/express/purchases.ts
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-backend/src/lib/express/types.ts
  packages/morphomax-frontend/package.json
  packages/morphomax-frontend/src/config.ts
  packages/morphomax-frontend/src/contexts/jwt.tsx
  packages/morphomax-frontend/src/hooks/useBackend.ts
  packages/morphomax-frontend/src/hooks/useVincentWebAppClient.ts
  packages/morphomax-frontend/src/hooks/useVincentWebAuthClient.ts
  packages/morphomax-frontend/tsconfig.json
  packages/morphomax-frontend/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix, pnpm --filter morphomax-backend lint --fix

feat: update deps to published versions
  packages/morphomax-backend/package.json
  packages/morphomax-frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: apollo import in prod env
  packages/morphomax-backend/src/lib/graphql/apollo.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: apollo cjs import in prod env
  packages/morphomax-backend/src/lib/graphql/apollo.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: update used tool versions
  packages/morphomax-backend/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: remove old comment
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/vincentTools.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: vaults to optimize filter
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: force app id type change against current dashboard
  packages/morphomax-backend/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add support for EIP-7702 sponsoring using alchemy
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/alchemy.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/deposit-morpho-vault.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
  packages/morphomax-backend/src/lib/env.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: update to latest vincent pkgs
  packages/morphomax-backend/package.json
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/deposit-morpho-vault.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
  packages/morphomax-frontend/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: replace morphomax with vincent yield in UI
  packages/morphomax-backend/README.md
  packages/morphomax-frontend/.env.example
  packages/morphomax-frontend/README.md
  packages/morphomax-frontend/index.html
  packages/morphomax-frontend/src/components/dashboard.tsx
  packages/morphomax-frontend/src/components/dialogue-schedule-execution-details.tsx
  packages/morphomax-frontend/src/components/dialogue-withdraw.tsx
  packages/morphomax-frontend/src/components/enforcement-disclaimer.tsx
  packages/morphomax-frontend/src/components/presentation.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

feat: update dependencies versions
  packages/morphomax-backend/package.json
  packages/morphomax-frontend/package.json
  packages/morphomax-frontend/src/contexts/jwt.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

fix: decoded jwt payload reading
  packages/morphomax-frontend/src/contexts/jwt.tsx
Due: prettier --write, pnpm --filter morphomax-frontend -- lint --fix

fix: decoded jwt payload reading, now in backend
  packages/morphomax-backend/src/lib/express/schedules.ts
  packages/morphomax-backend/src/lib/express/swaps.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: receivedAddress on schedule delete
  packages/morphomax-backend/src/lib/express/schema.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: receivedAddress on schedule delete differently
  packages/morphomax-backend/src/lib/express/schema.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: redeem txs and graphql types
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/optimizeMorphoYield.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
  packages/morphomax-backend/src/lib/mongo/models/MorphoSwap.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

fix: undo changes for direct market operation morpho tool version
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/deposit-morpho-vault.ts
  packages/morphomax-backend/src/lib/agenda/jobs/optimizeMorphoYield/utils/redeem-morpho-vaults.ts
Due: prettier --write, pnpm --filter morphomax-backend lint --fix

feat: update deps
  packages/morphomax-backend/package.json
  packages/morphomax-frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,cjs,js,json,md}
  pnpm --filter morphomax-frontend -- lint --fix: any of: packages/morphomax-frontend/**/*.{ts,tsx,cjs,js}
  pnpm --filter morphomax-backend lint --fix: any of: packages/morphomax-backend/**/*.{ts,tsx,cjs,js}
